.home-container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    height: 100vh;

    background-color: #f5f5f5;
    background-image: url(/src/assets/Gruul_Wallpaper_2560x1440.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  h1 {
    backdrop-filter: invert(80%);
    padding: 1rem;
    padding-left: 3px;
    padding-right: 3px;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
    border:#333 solid; 
    border-radius: 25px;
  }


  nav a {
    text-decoration: none;
    color: #747bff;

    font-weight: bold;
    transition: color 0.3s;
  }
.decks-page {
    display: flex;
    flex-direction: column;
    background-image: url(/src/assets/decksBg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.droppable-container {
    border: 2px dashed #aaa;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(90, 53, 26, 0.8);
    min-height: 300px; /* Adjust based on your requirements */
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.droppable-container.empty {
    justify-content: center;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.draggable-card {
    max-width: 18rem;
}

.card {
    margin: 10px;
}

h2 {
    color: white;
}

