.card-form {
    display: flex;
    flex-direction: column;
  }
  
  .card-form div {
    margin-bottom: 10px;
  }
  
  .card-form label {
    margin-bottom: 5px;
  }
  
.card-form input {
    padding: 5px;
    border: 1px solid #ccc;
}