
 .title {
   font-size:  1.2em;
   font-weight: bold;
   margin-bottom: 0px;
 }

 .ap{
     background-color: darkorange;
     font-size: 1.2em;
     font-weight: bold;
 }
.hp{
    background-color: royalblue;
    font-size: 1.2em;
    font-weight: bold;
}
 .title {
     margin-top: 0rem; /* Adjust this value as needed */
 }
 .stats {
     margin-bottom: 0rem; /* Adjust this value as needed */
 }