
.navbar {
    background-color: #333; /* Set your desired background color */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    
}

.nav-link {
    text-decoration: none;
    color: #fff; /* Set your desired text color */
    font-weight: bold;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff; /* Change color on hover */
}
.banner {
    position: fixed; /* Fixed positioning */
    top: 0; /* Stick to the top of the viewport */
    left: 0; /* Align to the left */
    width: 100%; /* Take full width of the viewport */
    background-color: #3e2f2f; /* Example background color */
    color: rgb(255, 255, 255); /* Example text color */
    padding: 10px; /* Add some padding for better readability */
  }
